body{
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none; 
}
.history-tag{
background-color: white;
margin: 10px;
padding: 10px;
border: 5px;
border-radius: 5px;
}
.wrapper {
display: flex;
/* horizontally center the children */
justify-content: center;
/* vertically center the children */
align-items: center;
}
.history{
  width: calc(50%);
  overflow: scroll;
  height: 100vh;
  background-color: grey;
}

li {
display: inline-block;
width: 15px;
height: 25px;
margin: 10px;
padding: 10px 20px;
background-color: #ccc;
border-radius: 5px;
text-align: center;
cursor: pointer;
transition: background-color 0.3s ease;
}

li:hover {
background-color: #aaa;
}

.calculator {
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
}

.display {
width: 100%;
height: 50px;
background-color: lightgray;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
/* margin-bottom: 10px; */
margin: 10px;

}

.numandop {
margin-top: auto;
/* margin-right: 10px; */
/* align-items: center; */
}
#results{
/* margin-top: 8px; */
width: 300px;
height: 30px;
border-radius: 4px;
margin: 0;
padding: auto;
border: 0;
}
